.famous_cakes 
	.cakes_wrap
		.cake_card
			.cake_card_st(onclick="showNextDiv(this)")
				.cake_card_img
					img(src="./Images/Пьяная Вишня.jpg" alt="Торт Пьяная Вишня")
				.cake_card_title
					p Торт «#{cake_title_st}»
			.cake_card_nd(onclick="showNextDiv(this)")
				img(src="./Images/Pastry.jpg" alt="Процесс приготовления муки")
				.cake_card__title
					p Ингредиенты для теста
				.cake_card__text
					p Мука
						span 250 г
					p Какао-поршок
						span 4 ст.ложки
					p Разрыхлитель
						span 1.5 ч.ложки
					p Яйца
						span 6 штук
					p Сахар
						span 350 г
				.cake_card_title
					p Торт «#{cake_title_st}»
			.cake_card_rd(onclick="showNextDiv(this)")
				img(src="./Images/CakeCream.jpg" alt="Процесс приготовления крема и начинки")
				.cake_card__title
					p Ингредиенты для крема
					| и начинки
				.cake_card__text
					p Вишня без косточек
						span 2 стакана
					p Красное полусладкое вино
						span 1 стакан
					p Сливочное масло
						span 300 г
					p Сгущённое молоко
						span 400 г
				.cake_card_title
					p Торт «#{cake_title_st}»
			.cake_card_th(onclick="showNextDiv(this)")
				img(src="./Images/Time.jpg" alt="Время приготовления")
				.cake_card__title
					p Время приготовления
				.cake_card__text
					p Общее
						span 4 часа
					p Активное
						span 45 мин
				.cake_card_title
					p Торт «#{cake_title_st}»
		.cake_card
			.cake_card_st(onclick="showNextDiv(this)")
				.cake_card_img
					img(src="./Images/Cakes/Cake.jpg" alt="Торт Eat Me")
				.cake_card_title
					p Торт «#{cake_title_nd}»
			.cake_card_nd(onclick="showNextDiv(this)")
				img(src="./Images/Pastry.jpg" alt="Процесс приготовления муки")
				.cake_card__title
					p Ингредиенты для теста
				.cake_card__text
					p Мука
						span 60 г
					p Соль
						span 1 щепотка
					p Ванильный экстракт
						span 0.5 ч.ложки
					p Яйца
						span 2 штуки
					p Сахар
						span 60 г
				.cake_card_title
					p Торт «#{cake_title_nd}»
			.cake_card_rd(onclick="showNextDiv(this)")
				img(src="./Images/CakeCream.jpg" alt="Процесс приготовления крема и начинки")
				.cake_card__title
					p Ингредиенты для крема
					| и начинки
				.cake_card__text
					p Сахарная пудра
						span 70 г
					p Крем-сыр
						span 300 г
					p Сливочное масло
						span 100 г
					p Молоко
						span 50 мл
				.cake_card_title
					p Торт «#{cake_title_nd}»
			.cake_card_th(onclick="showNextDiv(this)")
				img(src="./Images/Time.jpg" alt="Время приготовления")
				.cake_card__title
					p Время приготовления
				.cake_card__text
					p Общее
						span 3 часа
					p Активное
						span 1 час
				.cake_card_title
					p Торт «#{cake_title_nd}»
		.cake_card
			.cake_card_st(onclick="showNextDiv(this)")
				.cake_card_img
					img(src="./Images/Cakes/cake_magic_time.jpg" alt="Торт Magic Time")
				.cake_card_title
					p Торт «#{cake_title_rd}»
			.cake_card_nd(onclick="showNextDiv(this)")
				img(src="./Images/Pastry.jpg" alt="Процесс приготовления муки")
				.cake_card__title
					p Ингредиенты для теста
				.cake_card__text
					p Мука
						span 200 г
					p Какао-поршок
						span 2 ст. ложки
					p Разрыхлитель
						span 1 ч. ложка
					p Яйца
						span 6 штук
					p Сахар
						span 120 г
				.cake_card_title
					p Торт «#{cake_title_rd}»
			.cake_card_rd(onclick="showNextDiv(this)")
				img(src="./Images/CakeCream.jpg" alt="Процесс приготовления крема и начинки")
				.cake_card__title
					p Ингредиенты для крема
					| и начинки
				.cake_card__text
					p Грецкие орехи
						span 50 г
					p Консервированные ананасы
						span 500 г
					p Сахарная пудра
						span 150 г + 1 ст. ложка
					p Жирная сметана
						span 800 г
				.cake_card_title
					p Торт «#{cake_title_rd}»
			.cake_card_th(onclick="showNextDiv(this)")
				img(src="./Images/Time.jpg" alt="Время приготовления")
				.cake_card__title
					p Время приготовления
				.cake_card__text
					p Общее
						span 4 часа
					p Активное
						span 1 час
				.cake_card_title
					p Торт «#{cake_title_rd}»
	.famous_cakes_title
		p Топ - 3 популярных тортов